<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
 <h:head></h:head> 
<body> 
	<h:form id="form">
	
		<h:panelGrid columns="2">
		<h:outputText>aaaaaa</h:outputText>
	
		
	
					<h:outputText value="act" />
					<h:inputText value="#{candidatesBean.act}" />
					<h:outputText value="adresse" />
					<h:inputText value="#{candidatesBean.address}" />
					<h:outputText value="date de creation " />
					
					<h:inputText value="#{candidatesBean.creationDate}">
	    <f:convertDateTime pattern="dd-mm-yyyy" />
		</h:inputText>
					<h:outputText value="email" />
					<h:inputText value="#{candidatesBean.email}" />
					<h:outputText value="prenom" />
					<h:inputText value="#{candidatesBean.firstName}" />
					<h:outputText value="nom" />
					<h:inputText value="#{candidatesBean.lastName}" />
					<h:outputText value="introduction" />
					<h:inputText value="#{candidatesBean.introduction}" />
					
					<h:outputText value="mot de passe" />
					<h:inputText value="#{candidatesBean.password}" />
					<h:outputText value="numéro" />
					<h:inputText value="#{candidatesBean.phoneNumber}" />
					<h:outputText value="photo" />
					<h:inputText value="#{candidatesBean.photo}" />
					<h:outputText value="skills" />
					<h:inputText value="#{candidatesBean.skills}" />
					<h:outputText value="pseudonyme" />
					<h:inputText value="#{candidatesBean.userName}" />
					
					<h:commandButton id="btn" value="modifier" action="#{candidatesBean.UpdateClient()}" />
					<h:message for="btn"/>
			
		</h:panelGrid> 
	</h:form>
</body>  
</html> 