<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
				
								
								
									<h:dataTable value="#{candidatesBean.listcandidate}" var="order" border="1">
								
								
									<h:column>
										<f:facet name="header">
											<h:outputText value="Quantity" />
										</f:facet>
										<h:outputText value="#{order.email}" />
									</h:column>
									
								
									



									
								</h:dataTable>
								

										

							
								</ui:composition>