<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
 <h:head></h:head> 
<body> 
	<h:form id="form">
	
		<h:panelGrid columns="2">
		<h:outputText>aaaaaa</h:outputText>
		<h:outputText value="#{entretienBean.candidate}" />
		<h:outputText value="idcandidat" />
					<h:inputText value="#{entretienBean.candidate}" />
					
					<h:outputText value="date " />
					
					<h:inputText value="#{entretienBean.dateEntretien}">
	    <f:convertDateTime pattern="dd-mm-yyyy" />
		</h:inputText>
		
	
					
				<h:commandButton id="btn" value="Connexion" action="#{entretienBean.AddEntretien}" />
					<h:message for="btn"/>
		</h:panelGrid> 
	</h:form>
</body>  
</html> 